<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <form >
    <ion-item>
      <ion-label>UserName:</ion-label>
      <ion-input type="text" [(ngModel)]="formData.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" [(ngModel)]="formData.email" name="email"></ion-input>
    </ion-item>
    <ion-button type="submit">Send</ion-button>
  </form> -->

  <app-explore-container [form1] = "true" (messageEvent)="rec($event)">
    
  </app-explore-container>
</ion-content>
