<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formDat">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="formDat.get('name')?.invalid &&formDat.get('name')?.touched" color="danger">
        <ion-label>
          Please enter a valid name.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="formDat.get('email')?.invalid &&formDat.get('email')?.touched" color="danger">
        <ion-label>
          Please enter a valid email.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">location</ion-label>
        <ion-input type="img" formControlName="location" name="location"></ion-input>
        <ion-button (click)='printCurrentPosition()'>Location</ion-button>
      </ion-item>
      <ion-item *ngIf="formDat.get('location')?.invalid &&formDat.get('location')?.touched" color="danger">
        <ion-label>
          Please enter a valid name.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Image</ion-label>
        <ion-input type="text" formControlName="Image" name="Image"></ion-input>
        <ion-button (click)=' takePicture()'>Image</ion-button>
      </ion-item>
      <ion-item *ngIf="formDat.get('Image')?.invalid &&formDat.get('Image')?.touched" color="danger">
        <ion-label>
          Please enter a valid name.
        </ion-label>
      </ion-item>
    </ion-list>
  </form>

  <ion-button expand="block" (click)="save()">
    Save
  </ion-button>
  <ion-button expand="block" (click)="dismiss()">
    Cancel
  </ion-button>
</ion-content>
